<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Home</title>
</head>
<body>

	<h1 class="col">My Dating Site</h1>
	<div class="row justify-content-between" >
		<p class="col-4 float-left">
			Welcome to My Dating Site. The interwebs best dating website. Nullam quis elit facilisis, faucibus arcu ac, varius enim. Cras tristique scelerisque porttitor. Fusce ornare suscipit metus ac vestibulum. Mauris suscipit condimentum imperdiet. Maecenas tempor elit ac dolor luctus aliquam. Curabitur nisl justo, cursus varius aliquet eget, varius sit amet mi. Vestibulum fringilla venenatis facilisis. Aliquam viverra imperdiet lobortis. Nulla fermentum justo eget quam faucibus ornare. Etiam vehicula, risus quis ullamcorper pharetra, velit purus congue nisl, vel tincidunt magna lorem at ligula. Nullam sed purus mattis, cursus nisi ut, tempor metus. Donec non malesuada enim. Sed vehicula consectetur libero, quis posuere velit lobortis eu. Praesent ac lectus semper, interdum purus et, gravida odio. Praesent aliquet, nibh eget congue consectetur, metus ante congue dolor, in semper lacus massa eget velit.
		</p>

	<img class="col-4 float-right" src="images/main.jpg">


	</div>
</body>
</html>